<a href="https://colab.research.google.com/github/hemu2014/python-data-test/blob/main/db-test--33/lesson-11-reading-data-from-relational-databases/files/Lecture.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##json读取补充

In [7]:
import numpy as np
import pandas as pd

artists = pd.read_json('artists.json')
artists.head()
#artists.drop(['bio'], axis='columns', inplace=True)

#artists.set_index('name', inplace=True)

#artists.to_csv('artists.csv')

,name,years,genre,nationality,bio
0,Amedeo Modigliani,1884 - 1920,Expressionism,Italian,"[{'full name': 'Amedeo Clemente Modigliani', '..."
1,Vasiliy Kandinskiy,1866 - 1944,"Expressionism,Abstractionism",Russian,[{'full name': 'Wassily Wassilyevich Kandinsky...
2,Diego Rivera,1886 - 1957,"Social Realism,Muralism",Mexican,[{'full name': 'Diego María de la Concepción J...
3,Claude Monet,1840 - 1926,Impressionism,French,"[{'full name': 'Oscar-Claude Monet', 'pronunci..."
4,Rene Magritte,1898 - 1967,"Surrealism,Impressionism",Belgian,[{'full name': 'René François Ghislain Magritt...

In [9]:
artists.drop(['bio'],inplace=True,axis=1)  # inplace原地修改， axis为1表示为列

In [10]:
artists.head(3)

                 name        years                         genre nationality
0   Amedeo Modigliani  1884 - 1920                 Expressionism     Italian
1  Vasiliy Kandinskiy  1866 - 1944  Expressionism,Abstractionism     Russian
2        Diego Rivera  1886 - 1957       Social Realism,Muralism     Mexican

In [11]:
artists.set_index('name', inplace=True)

In [12]:
artists.head(3)

                          years                         genre nationality
name
Amedeo Modigliani   1884 - 1920                 Expressionism     Italian
Vasiliy Kandinskiy  1866 - 1944  Expressionism,Abstractionism     Russian
Diego Rivera        1886 - 1957       Social Realism,Muralism     Mexican

In [13]:
artists.to_csv('artists.csv')

###test语句

In [14]:
artists.iloc[3]['genre']

'Impressionism'

###equals（）---判断行索引是否一致

In [15]:
i = pd.Index(['Amedeo Modigliani', 'Vasiliy Kandinskiy', 'Diego Rivera',
              'Claude Monet', 'Rene Magritte'])
artists.index.equals(i)

True

In [16]:
artists.shape

(5, 3)

In [ ]:
def test_artists():
    assert artists.iloc[3]['genre'] == 'Impressionism'
def test_index():
    i = pd.Index(['Amedeo Modigliani', 'Vasiliy Kandinskiy', 'Diego Rivera',
              'Claude Monet', 'Rene Magritte'])

    assert artists.index.equals(i)
def test_shape():
    assert artists.shape == (5, 3)

.rmotr文件

In [ ]:
uuid = "d3abb823-ec33-4109-aa6c-ced48f410a3f"
name = "Reading Data with Python and Pandas"

In [17]:
import numpy as np
import pandas as pd
import json
from pandas import json_normalize

with open('artists.json') as file:
    json_dict = json.load(file)

artists = json_normalize(json_dict)

biography = json_normalize(json_dict,
                           record_path='bio',
                           meta=['name'])   # 指定bio列解析，追加name列

In [18]:
artists

,name,years,genre,nationality,bio
0,Amedeo Modigliani,1884 - 1920,Expressionism,Italian,"[{'full name': 'Amedeo Clemente Modigliani', '..."
1,Vasiliy Kandinskiy,1866 - 1944,"Expressionism,Abstractionism",Russian,[{'full name': 'Wassily Wassilyevich Kandinsky...
2,Diego Rivera,1886 - 1957,"Social Realism,Muralism",Mexican,[{'full name': 'Diego María de la Concepción J...
3,Claude Monet,1840 - 1926,Impressionism,French,"[{'full name': 'Oscar-Claude Monet', 'pronunci..."
4,Rene Magritte,1898 - 1967,"Surrealism,Impressionism",Belgian,[{'full name': 'René François Ghislain Magritt...

In [19]:
biography

,full name,pronunciation,life span,info,wikipedia,paintings,name
0,Amedeo Clemente Modigliani,[ameˈdɛːo modiʎˈʎaːni],12 July 1884 – 24 January 1920,was an Italian Jewish painter and sculptor who...,http://en.wikipedia.org/wiki/Amedeo_Modigliani,193,Amedeo Modigliani
1,Wassily Wassilyevich Kandinsky,"Васи́лий Васи́льевич Канди́нский, tr. Vasíliy ...",16 December [O.S. 4 December] 1866 – 13 Decemb...,was a Russian painter and art theorist.,http://en.wikipedia.org/wiki/Wassily_Kandinsky,88,Vasiliy Kandinskiy
2,Diego María de la Concepción Juan Nepomuceno E...,[ˈdjeɣo riˈβeɾa],"December 8, 1886 – November 24, 1957",was a prominent Mexican painter. His large fre...,http://en.wikipedia.org/wiki/Diego_Rivera,70,Diego Rivera
3,Oscar-Claude Monet,[klod mɔnɛ],14 November 1840 – 5 December 1926,"was a French painter, a founder of French Impr...",http://en.wikipedia.org/wiki/Claude_Monet,73,Claude Monet
4,René François Ghislain Magritte,[ʁəne fʁɑ̃swa ɡilɛ̃ maɡʁit],21 November 1898 – 15 August 1967,Was a Belgian Surrealist artist. He became wel...,http://en.wikipedia.org/wiki/René_Magritte,194,Rene Magritte

In [20]:
artists.shape

(5, 5)

In [21]:
artists.iloc[2]['name']

'Diego Rivera'

In [22]:
biography.shape

(5, 7)

In [23]:
biography.iloc[4]['paintings']

np.int64(194)

In [24]:
biography.iloc[3]['name']

'Claude Monet'

In [ ]:
def test_artists_1():
    assert artists.shape == (5,5)
def test_artists_2():
    assert artists.iloc[2]['name'] == 'Diego Rivera'
def test_biography_1():
    assert biography.shape == (5,7)
def test_biography_2():
    assert biography.iloc[4]['paintings'] == 194
def test_biography_3():
    assert biography.iloc[3]['name'] == 'Claude Monet'

In [31]:
'Aa' in "1Aa"  # 只要字符串包含Aa即可

True

In [30]:
'Aa' in "1aA"  #

False

![rmotr](https://user-images.githubusercontent.com/7065401/52071918-bda15380-2562-11e9-828c-7f95297e4a82.png)
<hr style="margin-bottom: 40px;">

<img src="https://user-images.githubusercontent.com/7065401/68501079-0695df00-023c-11ea-841f-455dac84a089.jpg"
    style="width:400px; float: right; margin: 0 40px 40px 40px;"></img>

# Reading data from relational databases

In this lesson you will learn how to read SQL queries and relational database tables into `DataFrame` objects using pandas. Also, we'll take a look at different techniques to persist that pandas `DataFrame` objects to database tables.

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Hands on!

In [32]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.11/dist-packages (2.0.40)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy) (4.13.1)

In [33]:
import pandas as pd

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

## Read data from SQL database

Reading data from SQL relational databases is fairly simple and pandas support a variety of methods to deal with it.

We'll start with an example using SQLite, as it's a builtin Python package, and we don't need anything extra installed.

In [34]:
import sqlite3

In order to work with a SQLite database from Python, we first have to connect to it. We can do that using the connect function, which returns a `Connection` object.

We'll use [this example database](http://www.sqlitetutorial.net/sqlite-sample-database/).

In [35]:
conn = sqlite3.connect("chinook.db")  # 我们可以使用 connect 函数来实现，它返回一个 Connection 对象

Once we have a `Connection` object, we can then create a `Cursor` object. Cursors allow us to execute SQL queries against a database:

###Cursor 对象。游标允许我们对数据库执行 SQL 查询：

In [36]:
cur = conn.cursor()

The `Cursor` created has a method `execute`, which will receive SQL parameters to run against the database.

The code below will fetch the first `5` rows from the `employees` table:

In [37]:
cur.execute('SELECT * FROM employees LIMIT 5;')

You may have noticed that we didn't assign the result of the above query to a variable. This is because we need to run another command to actually fetch the results.

We can use the `fetchall` method to fetch all of the results of a query:

In [38]:
results = cur.fetchall()

In [40]:
print(type(results), type(results[0]))

<class 'list'> <class 'tuple'>

In [39]:
results

[(1,
  'Adams',
  'Andrew',
  'General Manager',
  None,
  '1962-02-18 00:00:00',
  '2002-08-14 00:00:00',
  '11120 Jasper Ave NW',
  'Edmonton',
  'AB',
  'Canada',
  'T5K 2N1',
  '+1 (780) 428-9482',
  '+1 (780) 428-3457',
  'andrew@chinookcorp.com'),
 (2,
  'Edwards',
  'Nancy',
  'Sales Manager',
  1,
  '1958-12-08 00:00:00',
  '2002-05-01 00:00:00',
  '825 8 Ave SW',
  'Calgary',
  'AB',
  'Canada',
  'T2P 2T3',
  '+1 (403) 262-3443',
  '+1 (403) 262-3322',
  'nancy@chinookcorp.com'),
 (3,
  'Peacock',
  'Jane',
  'Sales Support Agent',
  2,
  '1973-08-29 00:00:00',
  '2002-04-01 00:00:00',
  '1111 6 Ave SW',
  'Calgary',
  'AB',
  'Canada',
  'T2P 5M5',
  '+1 (403) 262-3443',
  '+1 (403) 262-6712',
  'jane@chinookcorp.com'),
 (4,
  'Park',
  'Margaret',
  'Sales Support Agent',
  2,
  '1947-09-19 00:00:00',
  '2003-05-03 00:00:00',
  '683 10 Street SW',
  'Calgary',
  'AB',
  'Canada',
  'T2P 5G3',
  '+1 (403) 263-4423',
  '+1 (403) 263-4289',
  'margaret@chinookcorp.com'),
 (5,
  'Johnson',
  'Steve',
  'Sales Support Agent',
  2,
  '1965-03-03 00:00:00',
  '2003-10-17 00:00:00',
  '7727B 41 Ave',
  'Calgary',
  'AB',
  'Canada',
  'T3B 1Y7',
  '1 (780) 836-9987',
  '1 (780) 836-9543',
  'steve@chinookcorp.com')]

As you can see, the results are returned as a list of tuples. Each tuple corresponds to a row in the database that we accessed. Dealing with data this way is painful.

We'd need to manually add column headers, and manually parse the data. Luckily, the pandas library has an easier way, which we'll look at in the next section.

In [41]:
df = pd.DataFrame(results)

In [42]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,1,Adams,Andrew,General Manager,NaN,1962-02-18 00:00:00,2002-08-14 00:00:00,11120 Jasper Ave NW,Edmonton,AB,Canada,T5K 2N1,+1 (780) 428-9482,+1 (780) 428-3457,andrew@chinookcorp.com
1,2,Edwards,Nancy,Sales Manager,1.0,1958-12-08 00:00:00,2002-05-01 00:00:00,825 8 Ave SW,Calgary,AB,Canada,T2P 2T3,+1 (403) 262-3443,+1 (403) 262-3322,nancy@chinookcorp.com
2,3,Peacock,Jane,Sales Support Agent,2.0,1973-08-29 00:00:00,2002-04-01 00:00:00,1111 6 Ave SW,Calgary,AB,Canada,T2P 5M5,+1 (403) 262-3443,+1 (403) 262-6712,jane@chinookcorp.com
3,4,Park,Margaret,Sales Support Agent,2.0,1947-09-19 00:00:00,2003-05-03 00:00:00,683 10 Street SW,Calgary,AB,Canada,T2P 5G3,+1 (403) 263-4423,+1 (403) 263-4289,margaret@chinookcorp.com
4,5,Johnson,Steve,Sales Support Agent,2.0,1965-03-03 00:00:00,2003-10-17 00:00:00,7727B 41 Ave,Calgary,AB,Canada,T3B 1Y7,1 (780) 836-9987,1 (780) 836-9543,steve@chinookcorp.com

Before we move on, it's good practice to close `Connection` objects and `Cursor` objects that are open. This prevents the SQLite database from being locked. When a SQLite database is locked, you may be unable to update the database, and may get errors. We can close the Cursor and the Connection like this:

In [43]:
cur.close()
conn.close()

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

## Using pandas `read_sql` method

We can use the pandas `read_sql` function to read the results of a SQL query directly into a pandas `DataFrame`. The code below will execute the same query that we just did, but it will return a `DataFrame`. It has several advantages over the query we did above:

- It doesn't require us to create a `Cursor` object or call `fetchall` at the end.
- It automatically reads in the names of the headers from the table.
- It creates a `DataFrame`, so we can quickly explore the data.

###创建一个链接对象还是必须的， 不需要游标对象。

In [44]:
conn = sqlite3.connect('chinook.db') #

In [45]:
df = pd.read_sql('SELECT * FROM employees;', conn)  # 直接从链接对象中查询员工表

In [46]:
df.head()

,EmployeeId,LastName,FirstName,Title,ReportsTo,BirthDate,HireDate,Address,City,State,Country,PostalCode,Phone,Fax,Email
0,1,Adams,Andrew,General Manager,NaN,1962-02-18 00:00:00,2002-08-14 00:00:00,11120 Jasper Ave NW,Edmonton,AB,Canada,T5K 2N1,+1 (780) 428-9482,+1 (780) 428-3457,andrew@chinookcorp.com
1,2,Edwards,Nancy,Sales Manager,1.0,1958-12-08 00:00:00,2002-05-01 00:00:00,825 8 Ave SW,Calgary,AB,Canada,T2P 2T3,+1 (403) 262-3443,+1 (403) 262-3322,nancy@chinookcorp.com
2,3,Peacock,Jane,Sales Support Agent,2.0,1973-08-29 00:00:00,2002-04-01 00:00:00,1111 6 Ave SW,Calgary,AB,Canada,T2P 5M5,+1 (403) 262-3443,+1 (403) 262-6712,jane@chinookcorp.com
3,4,Park,Margaret,Sales Support Agent,2.0,1947-09-19 00:00:00,2003-05-03 00:00:00,683 10 Street SW,Calgary,AB,Canada,T2P 5G3,+1 (403) 263-4423,+1 (403) 263-4289,margaret@chinookcorp.com
4,5,Johnson,Steve,Sales Support Agent,2.0,1965-03-03 00:00:00,2003-10-17 00:00:00,7727B 41 Ave,Calgary,AB,Canada,T3B 1Y7,1 (780) 836-9987,1 (780) 836-9543,steve@chinookcorp.com

In [47]:
df = pd.read_sql('SELECT * FROM employees;', conn,
                 index_col='EmployeeId',
                 parse_dates=['BirthDate', 'HireDate'])

In [48]:
df.head()

,LastName,FirstName,Title,ReportsTo,BirthDate,HireDate,Address,City,State,Country,PostalCode,Phone,Fax,Email
EmployeeId,,,,,,,,,,,,,,
1,Adams,Andrew,General Manager,NaN,1962-02-18,2002-08-14,11120 Jasper Ave NW,Edmonton,AB,Canada,T5K 2N1,+1 (780) 428-9482,+1 (780) 428-3457,andrew@chinookcorp.com
2,Edwards,Nancy,Sales Manager,1.0,1958-12-08,2002-05-01,825 8 Ave SW,Calgary,AB,Canada,T2P 2T3,+1 (403) 262-3443,+1 (403) 262-3322,nancy@chinookcorp.com
3,Peacock,Jane,Sales Support Agent,2.0,1973-08-29,2002-04-01,1111 6 Ave SW,Calgary,AB,Canada,T2P 5M5,+1 (403) 262-3443,+1 (403) 262-6712,jane@chinookcorp.com
4,Park,Margaret,Sales Support Agent,2.0,1947-09-19,2003-05-03,683 10 Street SW,Calgary,AB,Canada,T2P 5G3,+1 (403) 263-4423,+1 (403) 263-4289,margaret@chinookcorp.com
5,Johnson,Steve,Sales Support Agent,2.0,1965-03-03,2003-10-17,7727B 41 Ave,Calgary,AB,Canada,T3B 1Y7,1 (780) 836-9987,1 (780) 836-9543,steve@chinookcorp.com

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8 entries, 1 to 8
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   LastName    8 non-null      object
 1   FirstName   8 non-null      object
 2   Title       8 non-null      object
 3   ReportsTo   7 non-null      float64
 4   BirthDate   8 non-null      datetime64[ns]
 5   HireDate    8 non-null      datetime64[ns]
 6   Address     8 non-null      object
 7   City        8 non-null      object
 8   State       8 non-null      object
 9   Country     8 non-null      object
 10  PostalCode  8 non-null      object
 11  Phone       8 non-null      object
 12  Fax         8 non-null      object
 13  Email       8 non-null      object
dtypes: datetime64[ns](2), float64(1), object(11)
memory usage: 960.0+ bytes

In [51]:
df['ReportsTo'].isna()

EmployeeId
1     True
2    False
3    False
4    False
5    False
6    False
7    False
8    False
Name: ReportsTo, dtype: bool

In [50]:
df['ReportsTo'].isna().sum()  # 判断有多个nan值

np.int64(1)

In [52]:
df['ReportsTo'].mean()  # 忽略nan值

np.float64(2.857142857142857)

In [53]:
df['ReportsTo'] > 1.75

EmployeeId
1    False
2    False
3     True
4     True
5     True
6    False
7     True
8     True
Name: ReportsTo, dtype: bool

In [54]:
df['City'] = df['City'].astype('category')

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8 entries, 1 to 8
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   LastName    8 non-null      object
 1   FirstName   8 non-null      object
 2   Title       8 non-null      object
 3   ReportsTo   7 non-null      float64
 4   BirthDate   8 non-null      datetime64[ns]
 5   HireDate    8 non-null      datetime64[ns]
 6   Address     8 non-null      object
 7   City        8 non-null      category
 8   State       8 non-null      object
 9   Country     8 non-null      object
 10  PostalCode  8 non-null      object
 11  Phone       8 non-null      object
 12  Fax         8 non-null      object
 13  Email       8 non-null      object
dtypes: category(1), datetime64[ns](2), float64(1), object(10)
memory usage: 1.0+ KB

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

## Using pandas `read_sql_query` method

It turns out that the `read_sql` method we saw above is just a wrapper around `read_sql_query` and `read_sql_table`.

We can get the same result using `read_sql_query` method:

In [56]:
conn = sqlite3.connect('chinook.db')

In [57]:
df = pd.read_sql_query('SELECT * FROM employees LIMIT 5;', conn)

In [58]:
df.head()

,EmployeeId,LastName,FirstName,Title,ReportsTo,BirthDate,HireDate,Address,City,State,Country,PostalCode,Phone,Fax,Email
0,1,Adams,Andrew,General Manager,NaN,1962-02-18 00:00:00,2002-08-14 00:00:00,11120 Jasper Ave NW,Edmonton,AB,Canada,T5K 2N1,+1 (780) 428-9482,+1 (780) 428-3457,andrew@chinookcorp.com
1,2,Edwards,Nancy,Sales Manager,1.0,1958-12-08 00:00:00,2002-05-01 00:00:00,825 8 Ave SW,Calgary,AB,Canada,T2P 2T3,+1 (403) 262-3443,+1 (403) 262-3322,nancy@chinookcorp.com
2,3,Peacock,Jane,Sales Support Agent,2.0,1973-08-29 00:00:00,2002-04-01 00:00:00,1111 6 Ave SW,Calgary,AB,Canada,T2P 5M5,+1 (403) 262-3443,+1 (403) 262-6712,jane@chinookcorp.com
3,4,Park,Margaret,Sales Support Agent,2.0,1947-09-19 00:00:00,2003-05-03 00:00:00,683 10 Street SW,Calgary,AB,Canada,T2P 5G3,+1 (403) 263-4423,+1 (403) 263-4289,margaret@chinookcorp.com
4,5,Johnson,Steve,Sales Support Agent,2.0,1965-03-03 00:00:00,2003-10-17 00:00:00,7727B 41 Ave,Calgary,AB,Canada,T3B 1Y7,1 (780) 836-9987,1 (780) 836-9543,steve@chinookcorp.com

In [59]:
df = pd.read_sql_query('SELECT * FROM employees;', conn,
                       index_col='EmployeeId',
                       parse_dates=['BirthDate', 'HireDate'])

In [60]:
df.head()

,LastName,FirstName,Title,ReportsTo,BirthDate,HireDate,Address,City,State,Country,PostalCode,Phone,Fax,Email
EmployeeId,,,,,,,,,,,,,,
1,Adams,Andrew,General Manager,NaN,1962-02-18,2002-08-14,11120 Jasper Ave NW,Edmonton,AB,Canada,T5K 2N1,+1 (780) 428-9482,+1 (780) 428-3457,andrew@chinookcorp.com
2,Edwards,Nancy,Sales Manager,1.0,1958-12-08,2002-05-01,825 8 Ave SW,Calgary,AB,Canada,T2P 2T3,+1 (403) 262-3443,+1 (403) 262-3322,nancy@chinookcorp.com
3,Peacock,Jane,Sales Support Agent,2.0,1973-08-29,2002-04-01,1111 6 Ave SW,Calgary,AB,Canada,T2P 5M5,+1 (403) 262-3443,+1 (403) 262-6712,jane@chinookcorp.com
4,Park,Margaret,Sales Support Agent,2.0,1947-09-19,2003-05-03,683 10 Street SW,Calgary,AB,Canada,T2P 5G3,+1 (403) 263-4423,+1 (403) 263-4289,margaret@chinookcorp.com
5,Johnson,Steve,Sales Support Agent,2.0,1965-03-03,2003-10-17,7727B 41 Ave,Calgary,AB,Canada,T3B 1Y7,1 (780) 836-9987,1 (780) 836-9543,steve@chinookcorp.com

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

## Using `read_sql_table` method

`read_sql_table` is a useful function, but it works only with [SQLAlchemy](https://www.sqlalchemy.org/), a Python SQL Toolkit and Object Relational Mapper.

This is just a demonstration of its usage where we read the whole `employees` table.

In [61]:
from sqlalchemy import create_engine

###获取数据库的表名

In [88]:
import pandas as pd

# 使用 SQLAlchemy 引擎
engine = create_engine("sqlite:///chinook.db")

# 读取 SQLite 表名
df_tables = pd.read_sql("SELECT name FROM sqlite_master WHERE type='table';", engine)
print("Pandas 读取表名:\n", df_tables)

Pandas 读取表名:
                name
0            albums
1   sqlite_sequence
2           artists
3         customers
4         employees
5            genres
6          invoices
7     invoice_items
8       media_types
9         playlists
10   playlist_track
11           tracks
12     sqlite_stat1
13       employees2

In [75]:
from sqlalchemy import create_engine, inspect

engine = create_engine('sqlite:///chinook.db')
connection = engine.connect()

# Use inspect to get the table names
inspector = inspect(engine)
table_names = inspector.get_table_names()

print(table_names)  # Print the list of table names

connection.close()  # Remember to close the connection

['albums', 'artists', 'customers', 'employees', 'employees2', 'genres', 'invoice_items', 'invoices', 'media_types', 'playlist_track', 'playlists', 'tracks']

In [62]:
engine = create_engine('sqlite:///chinook.db')

connection = engine.connect()

In [67]:
df = pd.read_sql_table('employees', con=connection, columns=["LastName", "FirstName"])

In [68]:
df.head()

  LastName FirstName
0    Adams    Andrew
1  Edwards     Nancy
2  Peacock      Jane
3     Park  Margaret
4  Johnson     Steve

In [69]:
df = pd.read_sql_table('employees', con=connection,
                       index_col='EmployeeId',
                       parse_dates=['BirthDate', 'HireDate'])

In [70]:
df.head()

,LastName,FirstName,Title,ReportsTo,BirthDate,HireDate,Address,City,State,Country,PostalCode,Phone,Fax,Email
EmployeeId,,,,,,,,,,,,,,
1,Adams,Andrew,General Manager,NaN,1962-02-18,2002-08-14,11120 Jasper Ave NW,Edmonton,AB,Canada,T5K 2N1,+1 (780) 428-9482,+1 (780) 428-3457,andrew@chinookcorp.com
2,Edwards,Nancy,Sales Manager,1.0,1958-12-08,2002-05-01,825 8 Ave SW,Calgary,AB,Canada,T2P 2T3,+1 (403) 262-3443,+1 (403) 262-3322,nancy@chinookcorp.com
3,Peacock,Jane,Sales Support Agent,2.0,1973-08-29,2002-04-01,1111 6 Ave SW,Calgary,AB,Canada,T2P 5M5,+1 (403) 262-3443,+1 (403) 262-6712,jane@chinookcorp.com
4,Park,Margaret,Sales Support Agent,2.0,1947-09-19,2003-05-03,683 10 Street SW,Calgary,AB,Canada,T2P 5G3,+1 (403) 263-4423,+1 (403) 263-4289,margaret@chinookcorp.com
5,Johnson,Steve,Sales Support Agent,2.0,1965-03-03,2003-10-17,7727B 41 Ave,Calgary,AB,Canada,T3B 1Y7,1 (780) 836-9987,1 (780) 836-9543,steve@chinookcorp.com

###记得操作完毕关闭数据库

In [71]:
connection.close()

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

## Create tables from `DataFrame` objects

Finally we can persist `DataFrame` objects we've working on in a database using the pandas `to_sql` method.

Although it is easy to implement, it could be a very slow process.

In [72]:
df.head()

,LastName,FirstName,Title,ReportsTo,BirthDate,HireDate,Address,City,State,Country,PostalCode,Phone,Fax,Email
EmployeeId,,,,,,,,,,,,,,
1,Adams,Andrew,General Manager,NaN,1962-02-18,2002-08-14,11120 Jasper Ave NW,Edmonton,AB,Canada,T5K 2N1,+1 (780) 428-9482,+1 (780) 428-3457,andrew@chinookcorp.com
2,Edwards,Nancy,Sales Manager,1.0,1958-12-08,2002-05-01,825 8 Ave SW,Calgary,AB,Canada,T2P 2T3,+1 (403) 262-3443,+1 (403) 262-3322,nancy@chinookcorp.com
3,Peacock,Jane,Sales Support Agent,2.0,1973-08-29,2002-04-01,1111 6 Ave SW,Calgary,AB,Canada,T2P 5M5,+1 (403) 262-3443,+1 (403) 262-6712,jane@chinookcorp.com
4,Park,Margaret,Sales Support Agent,2.0,1947-09-19,2003-05-03,683 10 Street SW,Calgary,AB,Canada,T2P 5G3,+1 (403) 263-4423,+1 (403) 263-4289,margaret@chinookcorp.com
5,Johnson,Steve,Sales Support Agent,2.0,1965-03-03,2003-10-17,7727B 41 Ave,Calgary,AB,Canada,T3B 1Y7,1 (780) 836-9987,1 (780) 836-9543,steve@chinookcorp.com

###不能添加相同的表， 需要额外的参数

In [76]:
df.to_sql('employees2', conn)

ValueError: Table 'employees2' already exists.

In [77]:
pd.read_sql_query('SELECT * FROM employees2;', conn).head()

,EmployeeId,LastName,FirstName,Title,ReportsTo,BirthDate,HireDate,Address,City,State,Country,PostalCode,Phone,Fax,Email
0,1,Adams,Andrew,General Manager,NaN,1962-02-18 00:00:00,2002-08-14 00:00:00,11120 Jasper Ave NW,Edmonton,AB,Canada,T5K 2N1,+1 (780) 428-9482,+1 (780) 428-3457,andrew@chinookcorp.com
1,2,Edwards,Nancy,Sales Manager,1.0,1958-12-08 00:00:00,2002-05-01 00:00:00,825 8 Ave SW,Calgary,AB,Canada,T2P 2T3,+1 (403) 262-3443,+1 (403) 262-3322,nancy@chinookcorp.com
2,3,Peacock,Jane,Sales Support Agent,2.0,1973-08-29 00:00:00,2002-04-01 00:00:00,1111 6 Ave SW,Calgary,AB,Canada,T2P 5M5,+1 (403) 262-3443,+1 (403) 262-6712,jane@chinookcorp.com
3,4,Park,Margaret,Sales Support Agent,2.0,1947-09-19 00:00:00,2003-05-03 00:00:00,683 10 Street SW,Calgary,AB,Canada,T2P 5G3,+1 (403) 263-4423,+1 (403) 263-4289,margaret@chinookcorp.com
4,5,Johnson,Steve,Sales Support Agent,2.0,1965-03-03 00:00:00,2003-10-17 00:00:00,7727B 41 Ave,Calgary,AB,Canada,T3B 1Y7,1 (780) 836-9987,1 (780) 836-9543,steve@chinookcorp.com

###删除表

In [ ]:
#pd.read_sql_query('DROP TABLE employees2;', conn)

## Custom behaviour

The `if_exists` parameter define how to behave if the table already exists and adds a ton of flexibility, letting you decide wheather to `replace` current database data, `append` new data at the end, or simply `fail` if database already exists.

In [78]:
pd.DataFrame().to_sql('employees2',
                      conn,
                      if_exists='replace')

0

In [79]:
pd.read_sql_query('SELECT * FROM employees2;', conn).head()

Empty DataFrame
Columns: [index]
Index: []

###返回插入了多少条数据

In [80]:
df.to_sql('employees2',
          conn,
          if_exists='replace')

8

In [83]:
pd.read_sql_query('SELECT * FROM employees2;', conn).head()

,EmployeeId,LastName,FirstName,Title,ReportsTo,BirthDate,HireDate,Address,City,State,Country,PostalCode,Phone,Fax,Email
0,1,Adams,Andrew,General Manager,NaN,1962-02-18 00:00:00,2002-08-14 00:00:00,11120 Jasper Ave NW,Edmonton,AB,Canada,T5K 2N1,+1 (780) 428-9482,+1 (780) 428-3457,andrew@chinookcorp.com
1,2,Edwards,Nancy,Sales Manager,1.0,1958-12-08 00:00:00,2002-05-01 00:00:00,825 8 Ave SW,Calgary,AB,Canada,T2P 2T3,+1 (403) 262-3443,+1 (403) 262-3322,nancy@chinookcorp.com
2,3,Peacock,Jane,Sales Support Agent,2.0,1973-08-29 00:00:00,2002-04-01 00:00:00,1111 6 Ave SW,Calgary,AB,Canada,T2P 5M5,+1 (403) 262-3443,+1 (403) 262-6712,jane@chinookcorp.com
3,4,Park,Margaret,Sales Support Agent,2.0,1947-09-19 00:00:00,2003-05-03 00:00:00,683 10 Street SW,Calgary,AB,Canada,T2P 5G3,+1 (403) 263-4423,+1 (403) 263-4289,margaret@chinookcorp.com
4,5,Johnson,Steve,Sales Support Agent,2.0,1965-03-03 00:00:00,2003-10-17 00:00:00,7727B 41 Ave,Calgary,AB,Canada,T3B 1Y7,1 (780) 836-9987,1 (780) 836-9543,steve@chinookcorp.com

###关闭数据库

你遇到的错误 ObjectNotExecutableError: Not an executable object: 'SELECT * FROM employees2 LIMIT 5' 通常是由于传递给 connection.execute() 的参数不是可执行的 SQL 语句对象。在 SQLAlchemy 中，connection.execute() 方法期望的是一个 text() 对象或一个 SQL 表达式对象，而不是一个纯字符串。

解决方法
你可以使用 text() 函数将 SQL 字符串包装成一个可执行的 SQL 语句对象。text() 函数是 SQLAlchemy 提供的一个工具，用于将字符串转换为 SQL 表达式。

In [86]:
from sqlalchemy import create_engine
import pandas as pd

engine = create_engine('sqlite:///chinook.db')
with engine.connect() as connection:
    result = connection.execute("SELECT * FROM employees2 LIMIT 5")

    # 查看 result 的类型和方法
    print(type(result))          # <class 'sqlalchemy.engine.result.LegacyCursorResult'>
    print(dir(result))           # 可以看到 .keys() 方法

    # 获取列名
    print(result.keys())         # ['ArtistId', 'Name']

    # 获取数据（元组列表）
    rows = result.fetchall()
    print(rows)                 # [(1, 'AC/DC'), (2, 'Accept'), ...]

    # 转换为 DataFrame
    df = pd.DataFrame(rows, columns=result.keys())
    print(df)

ObjectNotExecutableError: Not an executable object: 'SELECT * FROM employees2 LIMIT 5'

In [87]:
from sqlalchemy import create_engine, text
import pandas as pd

engine = create_engine('sqlite:///chinook.db')
with engine.connect() as connection:
    # Use text() to create an executable SQL statement object
    result = connection.execute(text("SELECT * FROM employees2 LIMIT 5"))

    # 查看 result 的类型和方法
    print(type(result))          # <class 'sqlalchemy.engine.result.LegacyCursorResult'>
    print(dir(result))           # 可以看到 .keys() 方法

    # 获取列名
    print(result.keys())         # ['ArtistId', 'Name']

    # 获取数据（元组列表）
    rows = result.fetchall()
    print(rows)                 # [(1, 'AC/DC'), (2, 'Accept'), ...]

    # 转换为 DataFrame
    df = pd.DataFrame(rows, columns=result.keys())
    print(df)

<class 'sqlalchemy.engine.cursor.CursorResult'>
['__annotations__', '__class__', '__class_getitem__', '__delattr__', '__dict__', '__dir__', '__doc__', '__enter__', '__eq__', '__exit__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__next__', '__orig_bases__', '__parameters__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__slots__', '__str__', '__subclasshook__', '_allrows', '_assert_no_memoizations', '_attributes', '_column_slices', '_echo', '_fetchall_impl', '_fetchiter_impl', '_fetchmany_impl', '_fetchone_impl', '_generate', '_generate_rows', '_getter', '_init_metadata', '_is_cursor', '_is_protocol', '_iter_impl', '_iterator_getter', '_manyrow_getter', '_memoized_keys', '_metadata', '_next_impl', '_no_result_metadata', '_onerow_getter', '_only_one_row', '_post_creational_filter', '_raw_all_rows', '_raw_row_iterator', '_real_result', '_reset_memoizations', '_rewind', '_row_getter', '_row_logging_fn', '_set_memoized_attribute', '_soft_close', '_soft_closed', '_source_supports_scalars', '_tuple_getter', '_unique_filter_state', '_unique_strategy', '_yield_per', 'all', 'close', 'closed', 'columns', 'connection', 'context', 'cursor', 'cursor_strategy', 'dialect', 'fetchall', 'fetchmany', 'fetchone', 'first', 'freeze', 'inserted_primary_key', 'inserted_primary_key_rows', 'is_insert', 'keys', 'last_inserted_params', 'last_updated_params', 'lastrow_has_defaults', 'lastrowid', 'mappings', 'memoized_attribute', 'memoized_instancemethod', 'merge', 'one', 'one_or_none', 'partitions', 'postfetch_cols', 'prefetch_cols', 'returned_defaults', 'returned_defaults_rows', 'returns_rows', 'rowcount', 'scalar', 'scalar_one', 'scalar_one_or_none', 'scalars', 'splice_horizontally', 'splice_vertically', 'supports_sane_multi_rowcount', 'supports_sane_rowcount', 't', 'tuples', 'unique', 'yield_per']
RMKeyView(['EmployeeId', 'LastName', 'FirstName', 'Title', 'ReportsTo', 'BirthDate', 'HireDate', 'Address', 'City', 'State', 'Country', 'PostalCode', 'Phone', 'Fax', 'Email'])
[(1, 'Adams', 'Andrew', 'General Manager', None, '1962-02-18 00:00:00', '2002-08-14 00:00:00', '11120 Jasper Ave NW', 'Edmonton', 'AB', 'Canada', 'T5K 2N1', '+1 (780) 428-9482', '+1 (780) 428-3457', 'andrew@chinookcorp.com'), (2, 'Edwards', 'Nancy', 'Sales Manager', 1.0, '1958-12-08 00:00:00', '2002-05-01 00:00:00', '825 8 Ave SW', 'Calgary', 'AB', 'Canada', 'T2P 2T3', '+1 (403) 262-3443', '+1 (403) 262-3322', 'nancy@chinookcorp.com'), (3, 'Peacock', 'Jane', 'Sales Support Agent', 2.0, '1973-08-29 00:00:00', '2002-04-01 00:00:00', '1111 6 Ave SW', 'Calgary', 'AB', 'Canada', 'T2P 5M5', '+1 (403) 262-3443', '+1 (403) 262-6712', 'jane@chinookcorp.com'), (4, 'Park', 'Margaret', 'Sales Support Agent', 2.0, '1947-09-19 00:00:00', '2003-05-03 00:00:00', '683 10 Street SW', 'Calgary', 'AB', 'Canada', 'T2P 5G3', '+1 (403) 263-4423', '+1 (403) 263-4289', 'margaret@chinookcorp.com'), (5, 'Johnson', 'Steve', 'Sales Support Agent', 2.0, '1965-03-03 00:00:00', '2003-10-17 00:00:00', '7727B 41 Ave', 'Calgary', 'AB', 'Canada', 'T3B 1Y7', '1 (780) 836-9987', '1 (780) 836-9543', 'steve@chinookcorp.com')]
   EmployeeId LastName FirstName                Title  ReportsTo  \
0           1    Adams    Andrew      General Manager        NaN
1           2  Edwards     Nancy        Sales Manager        1.0
2           3  Peacock      Jane  Sales Support Agent        2.0
3           4     Park  Margaret  Sales Support Agent        2.0
4           5  Johnson     Steve  Sales Support Agent        2.0

             BirthDate             HireDate              Address      City  \
0  1962-02-18 00:00:00  2002-08-14 00:00:00  11120 Jasper Ave NW  Edmonton
1  1958-12-08 00:00:00  2002-05-01 00:00:00         825 8 Ave SW   Calgary
2  1973-08-29 00:00:00  2002-04-01 00:00:00        1111 6 Ave SW   Calgary
3  1947-09-19 00:00:00  2003-05-03 00:00:00     683 10 Street SW   Calgary
4  1965-03-03 00:00:00  2003-10-17 00:00:00         7727B 41 Ave   Calgary

  State Country PostalCode              Phone                Fax  \
0    AB  Canada    T5K 2N1  +1 (780) 428-9482  +1 (780) 428-3457
1    AB  Canada    T2P 2T3  +1 (403) 262-3443  +1 (403) 262-3322
2    AB  Canada    T2P 5M5  +1 (403) 262-3443  +1 (403) 262-6712
3    AB  Canada    T2P 5G3  +1 (403) 263-4423  +1 (403) 263-4289
4    AB  Canada    T3B 1Y7   1 (780) 836-9987   1 (780) 836-9543

                      Email
0    andrew@chinookcorp.com
1     nancy@chinookcorp.com
2      jane@chinookcorp.com
3  margaret@chinookcorp.com
4     steve@chinookcorp.com

In [84]:
conn.close()

###补充

![image.png]()

###方法 1：直接使用 pd.read_sql() 方法

In [ ]:
from sqlalchemy import create_engine
import pandas as pd

# 创建数据库引擎
engine = create_engine('sqlite:///chinook.db')

# 直接使用 pd.read_sql() 执行查询
query = "SELECT * FROM employees2 LIMIT 5"
df = pd.read_sql(query, engine)

print(df)

###方法 2：使用 engine.execute()（SQLAlchemy 1.x 风格）弃用

In [ ]:
from sqlalchemy import create_engine
import pandas as pd

# 创建数据库引擎
engine = create_engine('sqlite:///chinook.db')

# 使用 engine.execute() 执行查询
result = engine.execute("SELECT * FROM employees2 LIMIT 5")

# 将结果转换为 DataFrame
df = pd.DataFrame(result.fetchall(), columns=result.keys())
print(df)

###方法 3：使用 Session 对象
如果你使用的是 SQLAlchemy 的 ORM 模式，可以通过 Session 对象执行 SQL 查询。

In [ ]:
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
import pandas as pd

# 创建数据库引擎
engine = create_engine('sqlite:///chinook.db')

# 创建 Session 对象
Session = sessionmaker(bind=engine)
session = Session()

# 使用 Session 执行查询
result = session.execute("SELECT * FROM employees2 LIMIT 5")

# 将结果转换为 DataFrame
df = pd.DataFrame(result.fetchall(), columns=result.keys())
print(df)

# 关闭 Session
session.close()

###方法 4：使用 connection.exec_driver_sql()
connection.exec_driver_sql() 是 SQLAlchemy 提供的一个底层方法，可以直接执行原生 SQL 查询。

In [ ]:
from sqlalchemy import create_engine
import pandas as pd

# 创建数据库引擎
engine = create_engine('sqlite:///chinook.db')

# 使用 connection.exec_driver_sql() 执行查询
with engine.connect() as connection:
    result = connection.exec_driver_sql("SELECT * FROM employees2 LIMIT 5")

    # 将结果转换为 DataFrame
    df = pd.DataFrame(result.fetchall(), columns=result.keys())
    print(df)

###方法 5：使用 sqlalchemy.sql.text() 和参数化查询
如果你需要执行参数化查询，可以使用 sqlalchemy.sql.text() 并结合参数绑定。

In [ ]:
from sqlalchemy import create_engine, text
import pandas as pd

# 创建数据库引擎
engine = create_engine('sqlite:///chinook.db')

# 使用 text() 和参数化查询
query = text("SELECT * FROM employees2 WHERE EmployeeId = :id")

# 执行查询
with engine.connect() as connection:
    result = connection.execute(query, id=1)

    # 将结果转换为 DataFrame
    df = pd.DataFrame(result.fetchall(), columns=result.keys())
    print(df)

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)